body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: fuchsia;
}
.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
.button {
    cursor: pointer;
}
li {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.completed {
    text-decoration: line-through
    color; -ms-grid-layer: calc();
}